*.swp
*.pyc
*.dot
*.png
logs/*.txt
*.html
.idea
public/
.coverage
.hypothesis
.cache
.tmp
.env
*.komodoproject
venv/
eosjs_python/*
pickle.jar
.mypy_cache/
htmlcov/
requirements.txt
addpairs.py
coverage-reports/
node_modules/
postgres-data/
mysql-data/
db-data/

*test.py
testing*.py
!conftest.py
alive.txt
ju-report.xml
coverage-report.xml
.DS_Store

*.egg-info

.vscode/
__pycache__

*.bk
